body {
    background-color: darkturquoise;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

img {
    border: 3px solid white;
    border-radius: 30px;
    width:fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20em;

}

.foto{
    background-color:black;
    display: flex;

    & img {
        width: 200px;
        margin: 0px 10px;
        display: block;
        margin: auto;
    }
}